<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>.post-detail-header {
    background-image: none!important;
    background-color: transparent!important;
    
}
.post-detail-header-mask {
    background: transparent!important;
}
#appBgSwiper {
    filter: brightness(0.8);
    background: rgba(0, 0, 0, .3)!important;
}