.post-detail-header {
    background-image: none!important;
    background-color: transparent!important;
    
}
.post-detail-header-mask {
    background: transparent!important;
}
#appBgSwiper {
    filter: brightness(0.8);
    background: rgba(0, 0, 0, .3)!important;
}
.tags-header{
    background-image: none!important;
    background-color: transparent!important;
    
}
.archive-header{
    background-image: none!important;
    background-color: transparent!important;
}
.categories-header{
    background-image: none!important;
    background-color: transparent!important;
}
.about-header{
    background-image: none!important;
    background-color: transparent!important;
}
.swiper-lazy{
   
    opacity:0; filter: alpha(opacity=0)!important;
    
}
.root{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0);
}
.wrap{
   
  text-align:center;

  line-height: 45rem;
  font-size: 2.5rem;
  color: white;
}


/* 
.item{
   
     
     position: absolute!important;
  background:rgba(255,255,255,0)!important;
    
}

.img-mask{
    
    
     position: absolute!important;
  background:rgba(255,255,255,0)!important;
}

.swiper-bgmask{
   
    opacity:0; filter: alpha(opacity=0)!important;
position: absolute!important;
  background:rgba(255,255,255,0)!important;
}

 */
/* 
.flag-text-content{
  position: absolute;
  background:rgba(255,255,255,0.3);
}
 */
/* 
 .title{
  position: absolute;
  background:rgba(255,255,255,0);
  
}
.flag{
    
      position: absolute;
  background:rgba(255,255,255,0);
}
 */

/* 
.animated{
  position: absolute;
  background:rgba(255,255,255,0);
}
 */
/* 
.swiper-bgmask{
  position: absolute;
  background:rgba(255,255,255,0)!important;
}
 */

/* 
.flag{
    
      position: absolute;
  background:rgba(255,255,255,0);
}
.swiper-slide{
     opacity:1; filter: alpha(opacity=100)!important;
    
}
.title{
  position: absolute;
  background:rgba(255,255,255,0.3);
}

.ani{
  opacity:1; filter: alpha(opacity=100)!important;
}
.animated{
  opacity:1; filter: alpha(opacity=100)!important;
}
.swiper-bgmask{
  opacity:0; filter: alpha(opacity=0)!important;
}
 */