.post-detail-header {
    background-image: none!important;
    background-color: transparent!important;
    
}
.post-detail-header-mask {
    background: transparent!important;
}
#appBgSwiper {
    filter: brightness(0.8);
    background: rgba(0, 0, 0, .3)!important;
}
.tags-header{
    background-image: none!important;
    background-color: transparent!important;
    
}
.archive-header{
    background-image: none!important;
    background-color: transparent!important;
}
.categories-header{
    background-image: none!important;
    background-color: transparent!important;
}
.about-header{
    background-image: none!important;
    background-color: transparent!important;
}
.item{
    background-color: transparent!important;
}
.img-mask{
    background-color: transparent!important;
}
.swiper-bgmask{
    background-color: transparent!important;
}
.flag{
    background-color: transparent!important;
}
.swiper-slide{
    background-color: transparent!important;
}